[user]
	name = shippokun
	email = okashi0tabetai@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
  co = checkout
  br = branch
  s = status
  gcf = -c gc.pruneExpire=now \
  -c gc.worktreePruneExpire=now \
  -c gc.reflogExpire=now \
  -c gc.reflogExpireUnreachable=now \
  -c gc.rerereResolved=now \
  -c gc.rerereUnResolved=now \
  gc --aggressive
[pager]
  log = less -X
  show = less -X
  diff = less st = status
[url "github:"]
  InsteadOf = https://github.com/
  InsteadOf = git@github.com:
[init]
	defaultBranch = main
